*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.article__cards {
  border: 1px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .article__img {
} */

.section__article {
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 176, 81);
  justify-content: center;
  align-items: center;
}
